<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.questionnaire.survey.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.questionnaire.survey.entity.Project">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="del_flag" property="delFlag" />
        <result column="project_status" property="projectStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, del_flag AS delFlag, project_status AS projectStatus, create_time AS createTime, update_time AS updateTime
    </sql>
    <select id="getProjectList" resultMap="BaseResultMap">
        select *
        from project
        where del_flag = "0"
        <if test="searchDTO.createStartTime!=null and searchDTO.createStartTime!='' and searchDTO.createEndTime !=null and searchDTO.createEndTime!=''">
            and create_time &gt;= #{searchDTO.createStartTime} and create_time &lt;= #{searchDTO.createEndTime}
        </if>
        <if test="searchDTO.projectName!=null and searchDTO.projectName!=''">
            and name like CONCAT('%',#{searchDTO.projectName,jdbcType=VARCHAR},'%')
        </if>
        <if test="searchDTO.projectStatus != null and searchDTO.projectStatus != ''">
            and project_status = #{searchDTO.projectStatus}
        </if>

    </select>
    <select id="getStartingProjectId" resultType="String">
        select id
        from project
        where project_status != '2'
    </select>
    <update id="endOtherProject">
        update project set project_status = '2' where id !=#{projectId}
    </update>

</mapper>
