<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.questionnaire.survey.mapper.SysDictTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.questionnaire.survey.entity.SysDictType">
        <id column="id" property="id" />
        <result column="dict_type_name" property="dictTypeName" />
        <result column="dict_type_code" property="dictTypeCode" />
        <result column="dict_type_remarks" property="dictTypeRemarks" />
        <result column="sort" property="sort" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dict_type_name AS dictTypeName, dict_type_code AS dictTypeCode, dict_type_remarks AS dictTypeRemarks, sort, del_flag AS delFlag
    </sql>
    <select id="selectSysDictTypeList" resultMap="BaseResultMap">
        select * from sys_dict_type where del_flag = "0";
    </select>

</mapper>
